<h1>
  {{#each user.rentBook}}
    {{name}}
  {{/each}}
</h1>
<ul style="font-size:xxx-large">
  {{#each users}}
    <li>
      <a href="/admin/users/{{_id}}"> {{name}} </a>
    </li>
  {{/each}}
</ul>

